---
layout: layout.njk
title: Dashboard
---



<body>



<main class="columns is-multiline box is-centered">
    <div class="column is-12 has-text-centered has-text-white">
        <p class="is-size-1">Weekly Forcast</p>
    </div>

<div class="column is-4">
    <section class="card has-text-centered">
        <header class="card-header">
            <p class="card-header-title is-size-4 is-centered">
                Dublin
            </p>
        </header>

    </section>

</div>

<div class="column is-8 is-light">
    <table class="table is-fullwidth">
        <thread>
            <tr>
                <th>Day</th>
                <th>Weather</th>
                <th>Temp</th>
                <th>Wind</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td>Monday</td>
                <td>mild</td>
                <td>20</td>
                <td>SW 5</td>
            </tr>
            <tr>
                <td>Monday</td>
                <td>mild</td>
                <td>20</td>
                <td>SW 5</td>
            </tr>
            <tr>
                <td>Monday</td>
                <td>mild</td>
                <td>20</td>
                <td>SW 5</td>
            </tr>
            <tr>
                <td>Monday</td>
                <td>mild</td>
                <td>20</td>
                <td>SW 5</td>
            </tr>

        </tbody>
    </table>
</div>
</main>


</body>
</html>