---
layout: layout.njk 
title: Dashboard 
subTitle: Today
data: overall_forecast
---

<section class="columns is-desktop is-centered is-multiline">

    {% for location in overall_forecast %}

        {% if location.day == "Today" %}
            {% set locationTitle = location.locationTitle %}
            {% set weatherTypeImage = location.weatherTypeImage %}
            {% set weatherDescription = location.weatherDescription %}
            {% set lowTemp = location.lowTemp %}
            {% set maxTemp = location.maxTemp %}
            {% set windDir = location.windDir %}
            {% set maxWind = location.maxWind %}

            {% include "location-card.njk" %}
        {% endif %}
       
    {% endfor %} 

</section>