---
layout: layout.njk 
title: Dashboard 
data: overall_forecast
---

<section class="columns is-desktop is-centered is-multiline">

    {% for location in overall_forecast %}

        {% if location.day == "Monday" %}
            {% set locationTitle = location.locationTitle %}
            {% set weatherTypeImage = location.weatherTypeImage %}
            {% set weatherDescription = location.weatherDescription %}
            {% set locationTemp = location.locationTemp %}
            {% set windDir = location.windDir %}
            {% set windSpeed = location.windSpeed %}

            {% include "location-card.njk" %}
        {% endif %}
       
    {% endfor %} 



</section>


