---
layout: layout.njk 
title: London 
subTitle: Weekly Forecast
data: overall_forecast 
---

<section class="columns is-desktop is-centered is-multiline">

    {% for location in overall_forecast %}

        {% if location.locationTitle == title %}
            {% if location.day == "Monday" %}
                {% set locationTitle = location.locationTitle %}
                {% set weatherTypeImage = location.weatherTypeImage %}
                {% set weatherDescription = location.weatherDescription %}
                {% set locationTemp = location.locationTemp %}
                {% set windDir = location.windDir %}
                {% set windSpeed = location.windSpeed %}
                {% set day = location.day %}

                {% include "location-card.njk" %}
            {% endif %}
        {% endif %}
       
    {% endfor %}


    {% set location = title %}

    {% include "forecast-table.njk" %} 

</section>