---
layout: layout.njk 
title: My City 
subTitle: Weekly Forecast
data: overall_forecast 
---

<section class="columns is-desktop is-centered is-multiline">

    {% set title = "Dublin" %}

    {% for location in overall_forecast %}

        {% if location.locationTitle == title %}
            {% if location.day == "Monday" %}
                {% set locationTitle = location.locationTitle %}
                {% set weatherTypeImage = location.weatherTypeImage %}
                {% set weatherDescription = location.weatherDescription %}
                {% set maxTemp = location.maxTemp %}
                {% set windDir = location.windDir %}
                {% set maxWind = location.maxWind %}
                {% set day = location.day %}

                {% include "location-card.njk" %}
            {% endif %}
        {% endif %}
       
    {% endfor %}


    {% set locationTitle = title %}
    {% include "forecast-table.njk" %} 

</section>
