
    <div class="column has-background-dark has-text-white has-text-centered m-3">
      <h4 class="title is-4 has-text-white">{{cardDay}}</h4>
      <figure class="image">
        <img src="/images/{{cardWeatherType}}.jpg" alt="Weather Image">
      </figure>
      <div class="is-flex is-justify-content-space-between">
        <div><p>{{cardMinTemp}}°C</p></div>
        <div><p>{{cardMaxTemp}}°C</p></div>
      </div>
    </div>


