  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <img class="image is-3-by-2 is-inline" src="/images/logo_64x35.png" alt="Whether Weather Logo"> 
            Rays Whether Weather - Your Weather, Whether you like the Weather or not
            <br>
            This webpage was created for a web development assignment at SETU by Raymond Brennan.
        </p>
      </div>
    </div>
  </footer>