<header class="header">
  <div class="container">
    <div class="columns is-vcentered m-1">
      <div class="column is-3">
        <figure class="image">
          <a href="/">
            <img src="/images/logo.png" alt="Logo Image">
          </a>
        </figure>
      </div>
      <div class="column is-9 has-text-centered">
        <h1 class="title is-1">{{ title }}</h1>
        <h3 class="subtitle is-3">{{ subTitle }}</h3>
      </div>
    </div>
  </div>
</header>