<div class="column is-4 is-box">

  <section class="card has-text-centered">
    <a href="/{{locationTitle}}">
    
      <header class="card-header">
        <p class="card-header-title is-size-4 is-centered">
          {{locationTitle}}
        </p>
      </header>

      <div class="card-image">
        <figure class="image">
          <img src="{{weatherTypeImage}}" alt="Weather Type Image">
        </figure>
      </div>

      <article class="card-content">
        <p class="subtitle is-size-4 is-centered">
          {{locationTemp}} °C
        </p>
        <p class="content is-size-4">
          {{locationTitle}} is {{weatherDescription}}
        </p>
      </article>

    </a>
  </section>

</div>


