<div class="column is-4 is-box">

  <section class="card has-text-centered m-6 p-5">
    <a href="/{{locationTitle}}">

      <header class="card-header">
        <p class="card-header-title is-size-4 is-centered">
          {{locationTitle}}
        </p>
      </header>

      <div class="card-image">
        <figure class="image">
          <img src="{{weatherTypeImage}}" alt="Weather Type Image">
        </figure>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img
                src="/images/{{windDir}}.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
                        <p class="content is-size-4">
              
            </p>
            <p class="subtitle is-size-4 is-centered">
              {{day}}
              <br>
              {{locationTitle}} is {{weatherDescription}}
              <br>
              Max Wind {{windSpeed}} km/h 
              <br> 
              Max Temp {{locationTemp}} °C
            </p>

          </div>
        </div>

      </a>

    </section>

  </div>


