  <nav class="navbar">
    <!--
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logo.png" alt="Logo" />
      </a>
    </div>
    -->
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="/" class="navbar-item">
          Dashboard
        </a>
        <a href="/city-focus" class="navbar-item">
          City Focus
        </a>
        <a href="/summary" class="navbar-item">
          Summary
        </a>
        <a href="/forcast" class="navbar-item">
          Forcast
        </a>
        <a href="/settings" class="navbar-item">
          Settings
        </a>
      </div>
    </div>
  </nav>
